body {
  margin: 0;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  outline: 0;
}

h1 {
  color: #2b3745;
}

.header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  /* background-image: linear-gradient(120deg, #155799, #159957); */
  background-image: linear-gradient(120deg, #2a78dd, #376373);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo {
  width: 250px;
  height: 250px;
  margin: 50 auto;
  padding: 50px 0;
  border: none;
  display: block;
  fill: #17191b;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  font-size: 1.5rem;
}

.view-btn {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
  transition-property: color, background-color, border-color;
}

.view-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.section-container {
  margin: 50px 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.i {
  margin: 40px 0;
}

.name-title {
  color: #39424b;
}

.section {
  margin: auto;
  max-width: 800px;
}

.intro {
  font-size: 18px;
  word-wrap: normal;
  color: #17191b;
}

@media screen and (max-width: 900px) {
  section {
    max-width: 600px;
  }
  .i {
    width: 600px;
    margin: auto;
  }
  .box {
    width: 450px;
  }
}

@media screen and (max-width: 605px) {
  .container {
    width: -webkit-fill-available;
    overflow: hidden;
  }
  .icon-btn {
    display: flex;
    flex-direction: row;
  }

  section {
    max-width: 340px;
    margin: 50px auto;
  }

  code {
    font-size: 9px;
  }

  .text {
    font-size: 1rem;
  }

  .box {
    width: 290px;
    height: 50px;
  }
}
