.widget {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  margin: 0 3px;
}
.btn,
.social-count {
  position: relative;
  display: inline-block;
  display: inline-flex;
  height: 14px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid;
}
.btn {
  border-radius: 0.25em;
}
.btn:not(:last-child) {
  border-radius: 0.25em 0 0 0.25em;
}
.social-count {
  border-left: 0;
  border-radius: 0 0.25em 0.25em 0;
}
.widget-lg .btn,
.widget-lg .social-count {
  height: 16px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 16px;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}
.btn:focus-visible,
.social-count:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
}
.btn {
  color: #24292f;
  background-color: #ebf0f4;
  border-color: #ccd1d5;
  border-color: rgba(27, 31, 36, 0.15);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f6f8fa'/%3e%3cstop offset='90%25' stop-color='%23ebf0f4'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
  background-image: -moz-linear-gradient(top, #f6f8fa, #ebf0f4 90%);
  background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF6F8FA', endColorstr='#FFEAEFF3');
}
:root .btn {
  filter: none;
}
.btn:hover,
.btn:focus {
  background-color: #e9ebef;
  background-position: 0 -0.5em;
  border-color: #caccd1;
  border-color: rgba(27, 31, 36, 0.15);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f3f4f6'/%3e%3cstop offset='90%25' stop-color='%23e9ebef'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
  background-image: -moz-linear-gradient(top, #f3f4f6, #e9ebef 90%);
  background-image: linear-gradient(180deg, #f3f4f6, #e9ebef 90%);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF3F4F6', endColorstr='#FFE8EAEE');
}
:root .btn:hover,
:root .btn:focus {
  filter: none;
}
.btn:active {
  background-color: #e5e9ed;
  border-color: #c7cbcf;
  border-color: rgba(27, 31, 36, 0.15);
  background-image: none;
  filter: none;
}
.social-count {
  color: #24292f;
  background-color: #fff;
  border-color: #ddddde;
  border-color: rgba(27, 31, 36, 0.15);
}

.social-count:hover,
.social-count:focus {
  color: #0969da;
}
.octicon-heart {
  color: #bf3989;
}
